### TIME SERIES CLASS WITH RASHEED

In [85]:
import nbconvert
nbconvert

In [86]:
#import pandas
#import numpy
#import datetime
#these three modules are very important

Now lets get to work

In [87]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime

Lets quickly run a check on the datetime library

In [88]:
datetime(2009,1,20,15,20)

datetime.datetime(2009, 1, 20, 15, 20)

#So this call the function datetime from module datetime

Okay great job the fucntion is working......

Can we check what time we are now?, yes we can

In [89]:
datetime.now()

datetime.datetime(2020, 9, 20, 16, 56, 28, 713384)

@Nice Job, todays date is 19/9/2020 and the time is 4:48pm 50sec

In [90]:
datetime.now().time()

datetime.time(16, 56, 28, 734372)

@wow, this shows the time NOW

________________________________________________________________________________________________________________________________

TIME SERIES OBJECT With Pandas

In [91]:
pd.Timestamp("now")

Timestamp('2020-09-20 16:56:28.765354')

In [92]:
pd.Timestamp("2020-9-19 14:40:5") #this is pretty much like writting script as "YYYY-MM-DD HH:MM:SS"

Timestamp('2020-09-19 14:40:05')

In [93]:
pd.Timestamp("2020-9-19")

Timestamp('2020-09-19 00:00:00')

great job!!

lets create a variable called "Now"

In [94]:
Now=datetime.now()
Now

datetime.datetime(2020, 9, 20, 16, 56, 28, 853307)

##### its obvious we are getting different time, time doesnt wait for anyone, tick-tick says the clock.... its fun getting to undestand timeseries with datetime

Can we check yesterday from Now, in Microsoft Excel, this is a simple stuff to do, just call fxn TODAY() and get it solved, lets see how this runs in python

In [95]:
#Timedelta with pandas
yesterday=Now-pd.Timedelta(days=1)
yesterday

datetime.datetime(2020, 9, 19, 16, 56, 28, 853307)

### Lets see the diff between 2days

In [96]:
#check diff between two dates
firstdate=datetime.now()
seconddate=firstdate-pd.Timedelta(days=5)
firstdate-seconddate

datetime.timedelta(5)

@good job, thats 5ays

In [97]:
#in another way
first=datetime(2020,9,20)
second=datetime(2019,9,25)
first-second

datetime.timedelta(361)

#### CONTINUATION ON TIME SERIES OBJECT With Pandas

In [98]:
s=pd.Series([1,2,3])
dates=[pd.Timestamp(2020,3,21), pd.Timestamp(2020,5,15),pd.Timestamp(2020,6,13)]
S=pd.Series([1,2,3],dates)

In [99]:
S

2020-03-21    1
2020-05-15    2
2020-06-13    3
dtype: int64

In [100]:
type(S.index[1])

pandas._libs.tslib.Timestamp

LETS TALK ABOUT RANGE OF DATES
#create range of dates

In [101]:
range_=pd.date_range("2020-02-25",periods=15)
range_

DatetimeIndex(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
               '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
               '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
               '2020-03-08', '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [102]:
Series2=pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],range_)
Series2

2020-02-25     1
2020-02-26     2
2020-02-27     3
2020-02-28     4
2020-02-29     5
2020-03-01     6
2020-03-02     7
2020-03-03     8
2020-03-04     9
2020-03-05    10
2020-03-06    11
2020-03-07    12
2020-03-08    13
2020-03-09    14
2020-03-10    15
Freq: D, dtype: int64

In [103]:
df=pd.DataFrame(Series2)

In [104]:
#Slicing the data
Slice=Series2[2:5]
Slice

2020-02-27    3
2020-02-28    4
2020-02-29    5
Freq: D, dtype: int64

#Introducing a new method of datetime_range

In [105]:
S3=pd.Series([1,2,3,4,5,6,7,8,9,10], pd.date_range("2020-02-25","2020-3-09",freq="B"))
S3

2020-02-25     1
2020-02-26     2
2020-02-27     3
2020-02-28     4
2020-03-02     5
2020-03-03     6
2020-03-04     7
2020-03-05     8
2020-03-06     9
2020-03-09    10
Freq: B, dtype: int64

Lets look into offsets

In [106]:
date=datetime(2009,2,26)
offset=pd.DateOffset(days=1)
date+offset

Timestamp('2009-02-27 00:00:00')

In [107]:
from pandas.tseries.offsets import *

In [108]:
date+BusinessDay()

Timestamp('2009-02-27 00:00:00')

In [109]:
date+BMonthEnd()

Timestamp('2009-02-27 00:00:00')

In [110]:
BMonthEnd().rollforward(datetime(2020,4,20))

Timestamp('2020-04-30 00:00:00')

In [111]:
feb=pd.Period("2020-2",freq="M")

In [112]:
feb

Period('2020-02', 'M')

In [113]:
feb.start_time, feb.end_time

(Timestamp('2020-02-01 00:00:00'), Timestamp('2020-02-29 23:59:59.999999999'))

In [114]:
_april=feb+2

In [115]:
_april

Period('2020-04', 'M')

In [116]:
period=pd.period_range("1/1/2020", "12/31/2020", freq="M")
s=pd.Series([1,2,3,4,5,6,7,8,9,10, 11,12], period)
s

2020-01     1
2020-02     2
2020-03     3
2020-04     4
2020-05     5
2020-06     6
2020-07     7
2020-08     8
2020-09     9
2020-10    10
2020-11    11
2020-12    12
Freq: M, dtype: int64

In [117]:
#lets talk about holidays by United States Standard
from pandas.tseries.holiday import *

In [118]:
cal=USFederalHolidayCalendar()

In [119]:
d=cal.holidays(start="2014-01-01", end="2014-12-31")

In [120]:
d

DatetimeIndex(['2014-01-01', '2014-01-20', '2014-02-17', '2014-05-26',
               '2014-07-04', '2014-09-01', '2014-10-13', '2014-11-11',
               '2014-11-27', '2014-12-25'],
              dtype='datetime64[ns]', freq=None)

In [121]:
#stil wants to check some timeseries objects
#here we need to convert string to dates
convert=pd.to_datetime(["2020-10-20","2020-02-19"] )

In [122]:
convert

DatetimeIndex(['2020-10-20', '2020-02-19'], dtype='datetime64[ns]', freq=None)

##### @We will continue on our timeseries function and you can explore more on your own

### Kareem Rasheed Babatunde(Bsc)