In [21]:
#Doing web scrapin of some website with Selenium
import selenium
from selenium import webdriver as wb
#webD = wb.Chrome('C:\Program Files (x86)\Google\Chrome\Application\chromedriver.exe')
webD = wb.Chrome(r"C:\Users\user\Documents\APP\chromedriver.exe")

In [22]:
#Now lets scrape the Jumia FMCGs price webpage
PD=[]

In [23]:
# Enter the url
webD.get('https://www.jumia.com.ng/pepsodent-sensitive-expert-32187644.html')

In [24]:
products=webD.find_elements_by_css_selector("#jm > main > div:nth-child(2) > section > div > div.col10")

In [25]:
for item in products:
    productcat= {"pd_name":item.text}
    PD.append(productcat)

In [26]:
#Lets now dataframe the dataset
import pandas as pd
from csv import reader

In [27]:
for item in PD:
    newitem=pd.DataFrame(PD
                        )

In [28]:
newitem

                                             pd_name
0  Official Store\nPepsodent Sensitive Expert\nBr...

In [29]:
newitem.to_csv(r"C:\Users\user\Documents\rashpy\jumjum.csv")

In [30]:
data=[print(d) for d in newitem['pd_name'].str.split("\n") for d in d]
data

Official Store
Pepsodent Sensitive Expert
Brand: Pepsodent | Similar products from Pepsodent
4.4 out of 5
(99 ratings)
₦ 360
₦ 600
40%
ADD TO CART
PROMOTIONS
Buy airtime & data on JumiaPay app and get up to N2,500 cash back. Use code "MOB6"
Jumia Prime Plus+ : Enjoy Free Delivery on all Local items and Jumia Food orders
Enjoy cheaper shipping fees when you select a PickUp Station at checkout

[None, None, None, None, None, None, None, None, None, None, None, None, None]

In [31]:
data=pd.DataFrame(data)
data

       0
0   None
1   None
2   None
3   None
4   None
5   None
6   None
7   None
8   None
9   None
10  None
11  None
12  None

In [32]:
data.to_csv(r"C:\Users\user\Documents\rashpy\jumia1.csv",header="Product Info")

In [33]:
webD.get('https://www.jumia.com.ng/catalog/productratingsreviews/sku/PE730HB0QLLUZNAFAMZ/?page=3')
webD.implicitly_wait(10000)
name="jm"
ratings=webD.find_elements_by_xpath('//*[@id="{}"]/main/div/div/section/div[1]'.format(name))


Reviews=[]
for items in ratings:
    prod_reviews={"reviews":items.text}
    Reviews.append(prod_reviews)

    
for rows in Reviews:
    rows=pd.DataFrame(Reviews)

In [34]:
rows

                                             reviews
0  PRODUCT RATINGS (99)\n4.4/5\n4.4 out of 5\n99 ...

In [35]:
rows["reviews"]

0    PRODUCT RATINGS (99)\n4.4/5\n4.4 out of 5\n99 ...
Name: reviews, dtype: object

In [36]:
for row in rows['reviews'].str.split("\n"):
    for r in row:
        print(r)

PRODUCT RATINGS (99)
4.4/5
4.4 out of 5
99 ratings
5
(62)
4
(22)
3
(8)
2
(5)
1
(2)
PRODUCT REVIEWS (22)
5 out of 5
I LIKE IT
Nice and Ok
08-07-2019by sunday
Verified Purchase
5 out of 5
I like it!
perfect for sensitive teeth. It cured my toothache in 7 days
01-07-2019by nancy
Verified Purchase

In [37]:
row=pd.DataFrame(row)

In [38]:
row.to_csv(r"C:\Users\user\Documents\rashpy\jumia5.csv",header="Rating&Reviews")

Thanks, You can use the code as well